.steps{
    display:flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 2rem;
}

.steps::after{
    content: "";
    width: 380px;
    border-bottom: 1px solid #ccc;
    position:absolute;
    top: 20px;
}

.step{
    text-align: center;
    background-color: #fff;
    z-index: 1; 
    width: 120px;
    padding: 0.5rem;
}

.step svg{
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
}

.active{
    font-weight: bold;
}

.active p{
    color: #1B397F;
}

.active > svg{
    fill: #204294;
}


/* celular 576px */
@media(max-width: 576px){
    .steps{
        display:flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        max-width: 370px;
        margin: 0 auto;
        position: relative;
        margin-bottom: 2rem;
    }
    
    .steps::after{
        content: "";
        width: 300px;
        border-bottom: 1px solid #ccc;
        position:absolute;
        top: 20px;
    }
    
    .step{
        text-align: center;
        background-color: #fff;
        z-index: 1; 
        width: 120px;
        padding: 0.5rem;
    }
    
}
